<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ static('bootstrap/css/bootstrap.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ static('main.css') }}">
    {% block css %}

    {% endblock %}
</head>
<body>
<!— Render content —>
<div class="container">
    {% include 'common/header.html '%}
    {% include 'common/navbar.html '%}
{% block content %}

{% endblock %}
    {% include 'common/footer.html' %}
</div>
<script src="{{ static('bootstrap/js/jquery-slim.min.js') }}"></script>
<script src="{{ static('bootstrap/js/popper.min.js') }}"></script>
<script src="{{ static('bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ static('bootstrap/js/holder.min.js') }}"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
{% block js %}
{% endblock %}
</body>
</html>